{% extends "base.html" %}
{% block title %}Ideias de Startups{% endblock %}
{% block content %}
<br>
<br>
<br>
<h1 align="center">
    INSPIRE-SE NAS IDEIAS DE STARTUPS SOCIAIS GERADAS 
</h1>
<h1 align="center">
    PELA INTELIGÊNCIA ARTIFICIAL 3HIPPOS
</h1>
<br>
<br>
<h3 align="center">
    <b>Fonte: </b><a href="https://openai.com/api/"><b>OpenAI GPT-3</b></a>
</h3>
<br>
<br>
<div class="container">
    <h2 align="center">As ideias nesta página são geradas por uma inteligência artificial (IA). 
        Como funciona? As pessoas podem votar nas propostas abaixo, indicando se é uma boa ideia 
        para um projeto ou uma startup de impacto social ou não. Depois, a cada 3 novos votos em uma proposta, 
        ela é realimentada na base de dados da IA, que aprimora, adiciona outros tópicos e gera uma nova ideia. 
        Portanto, você e outras pessoas podem contribuir para que a IA gere novas ideias, é só votar abaixo nas melhores propostas para uma startup social!
    </h2>
    <br>
    <div class="row">
        {% for card in cards %}
        <div class="col-sm-4">
            <div class="table">
                <div class="tr container">
                    <div class="td td_idea">
                        <h3>{{ card.text }}</h3> 
                    </div>
                    <div class="td td_likes">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="bi bi-hand-thumbs-down" id="dislike-button-{{ card.id }}" onclick="dislike({{ card.id }})"></i>
                            </div>
                            <div class="col-sm-3">
                                <span id="likes-count-{{ card.id }}">{{ card.like_counter }}</span>
                            </div>
                            <div class="col-sm-3">
                                <i class="bi bi-hand-thumbs-up" id="like-button-{{ card.id }}" onclick="like({{ card.id }})"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <h2 align="center">NOVAS IDEIAS DE IMPACTO SOCIAL GERADAS 
        A PARTIR DA VOTAÇÃO
    </h2>
    <br>
    <div class="row">
        {% for card in new_cards %}
        <div class="col-sm-4">
            <div class="table">
                <div class="tr container">
                    <div class="td td_idea">
                        <h3>{{ card.text }}</h3> 
                    </div>
                    <div class="td td_likes">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="bi bi-hand-thumbs-down" id="dislike-button-{{ card.id }}" onclick="dislike({{ card.id }})"></i>
                            </div>
                            <div class="col-sm-3">
                                <span id="likes-count-{{ card.id }}">{{ card.like_counter }}</span>
                            </div>
                            <div class="col-sm-3">
                                <i class="bi bi-hand-thumbs-up" id="like-button-{{ card.id }}" onclick="like({{ card.id }})"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}